{% extends 'questionnaire/base.html' %}
{% load bootstrap3 humanize %}
{% load get_item }
{% load mathfilters %}
{% load i18n %}

{% block extra_head %}
<style type="text/css">
/* The alert message box */
.alert {
    padding: 20px;
    background-color: #ff9800;
    color: white;
    margin-bottom: 15px;
}
</style>
{% endblock %}

{% block title %}<h1>{% trans "HRD Case Follow-Up Questionnaire" %}</h1>{% endblock %}

{% block content %}

<div class="row-fluid">
  <div class="span12">
    <h2>{% trans "Case Summary" %}</h2>
    <table class="table table-striped table-bordered table-condensed">
      <tbody>
        <tr>
          <th>{% trans "Country" %}</th>
          <td class="data">{{ form.instance.case.country.name }}</td>
	</tr>
	<tr>
	  <th>{% trans "Defender's Name" %}</th>
          <td class="data">{{ form.instance.case.name }}</td>
	</tr>
	<tr>
          <th>{% trans "Affiliation" %}</th>
          <td class="data">{{ form.instance.case.affiliation }}</td>
	</tr>
	<tr>
          <th>{% trans "Incidents reported to UN" %}</th>
          <td class="data">{{ form.instance.case.country.name }}</td>
	</tr>
	<tr>
	  <th>{% trans "Victim(s)" %}</th>
          <td class="data">{{ form.instance.case.violation_family }}</td>
	</tr>
	<tr>
	  <th>{% trans "Date of last reported indcident" %}</th>
          <td class="data">{{ form.instance.case.date_incident }}</td>
	</tr>
	<tr>
	  <th>{% trans "UN Communication date" %}</th>
          <td class="data">{{ form.instance.case.date_intervention }}</td>
	</tr>
      </tbody>
    </table>
  </div>
</div>

<dl>
  <dt>{% trans "Country" %}</dt><dd>{{ form.instance.case.country.name }}</dd>
  <dt>{% trans "Date of the intervention" %}</dt>
  <dd>{{ form.instance.case.date_intervention }}</dd>
  ...
</dl>

<h2>{% trans "Follow-Up Questionnaire" %}</h2>
<form action="" method="post">
  {% csrf_token %}
  {{ form.as_p }}
  <div class="alert">
    <strong>{% trans "Warning!" %}</strong> {% trans "You can only submit this form once. After submission, the link is deactivated." %}
  </div>
  <input type="submit" value="{% trans "Submit" %}" />
</form>
{% endblock %}
