{% extends 'questionnaire/base.html' %}
{% load bootstrap3 humanize %}
{% load mathfilters %}
{% load i18n %}
{% load l10n %}
{% trans alert %}
{% load crispy_forms_tags %}

{% block extra_head %}
<style type="text/css">
  .asteriskField {
  display: none;
  }
  .gb {
  background: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTIwMCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB2aWV3Qm94PSIwIDAgNjAgMzAiIGhlaWdodD0iNjAwIj4NCjxkZWZzPg0KPGNsaXBQYXRoIGlkPSJ0Ij4NCjxwYXRoIGQ9Im0zMCwxNWgzMHYxNXp2MTVoLTMwemgtMzB2LTE1enYtMTVoMzB6Ii8+DQo8L2NsaXBQYXRoPg0KPC9kZWZzPg0KPHBhdGggZmlsbD0iIzAwMjQ3ZCIgZD0ibTAsMHYzMGg2MHYtMzB6Ii8+DQo8cGF0aCBzdHJva2U9IiNmZmYiIHN0cm9rZS13aWR0aD0iNiIgZD0ibTAsMGw2MCwzMG0wLTMwbC02MCwzMCIvPg0KPHBhdGggc3Ryb2tlPSIjY2YxNDJiIiBzdHJva2Utd2lkdGg9IjQiIGQ9Im0wLDBsNjAsMzBtMC0zMGwtNjAsMzAiIGNsaXAtcGF0aD0idXJsKCN0KSIvPg0KPHBhdGggc3Ryb2tlPSIjZmZmIiBzdHJva2Utd2lkdGg9IjEwIiBkPSJtMzAsMHYzMG0tMzAtMTVoNjAiLz4NCjxwYXRoIHN0cm9rZT0iI2NmMTQyYiIgc3Ryb2tlLXdpZHRoPSI2IiBkPSJtMzAsMHYzMG0tMzAtMTVoNjAiLz4NCjwvc3ZnPg0K');
  width: 100%;
  height: 50%;
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: left top;
  }
  .es {
  background: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA3NTAgNTAwIj4NCjxwYXRoIGZpbGw9IiNjNjBiMWUiIGQ9Im0wLDBoNzUwdjUwMGgtNzUweiIvPg0KPHBhdGggZmlsbD0iI2ZmYzQwMCIgZD0ibTAsMTI1aDc1MHYyNTBoLTc1MHoiLz4NCjwvc3ZnPg0K');
  width: 100%;
  height: 66.666666666667%;
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: left top;
  }
  .fr {
  background: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA5MDAgNjAwIj4NCjxwYXRoIGZpbGw9IiNlZDI5MzkiIGQ9Im0wLDBoOTAwdjYwMGgtOTAweiIvPg0KPHBhdGggZmlsbD0iI2ZmZiIgZD0ibTAsMGg2MDB2NjAwaC02MDB6Ii8+DQo8cGF0aCBmaWxsPSIjMDAyMzk1IiBkPSJtMCwwaDMwMHY2MDBoLTMwMHoiLz4NCjwvc3ZnPg0K');
  width: 100%;
  height: 66.666666666667%;
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: left top;
  }
  .flag-box {
  border: 0px;
  padding: 0px;
  margin-right: 5px;
  margin-top: 4px;
  
  height: 1em;
  width: 1.5em;
  display: block;
  float:left;
  }
</style>
{% endblock %}

{% block title %}<h1>{% trans "Human Rights Defender Case Follow-up Questionnaire" %}</h1>{% endblock %}

{% block content %}

<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog modal-lg">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">{% trans "Examples for assessing the development of a case" %}</h4>
      </div>
      <div class="modal-body">
	<p>{% blocktrans %}This matrix provides examples on how to assess the development of a case. It is divided into different types of violations denounced in the Special Rapporteur's communications (see the case description above). If in the present case there were contradictory developments within one year (e.g. the defender was unconditionally released but rearrested a few months later), then select "There were equally important positive and negative developments." If in the present case more than one intitial violation applies, new violations occurred within one year, or different outcomes than the ones described were observed, please use your best judgment to assess the overall outcome applying a similar logic.{% endblocktrans %}</p>

	<table class="table table-striped table-bordered table-condensed">
          <thead>
            <tr>
	      <th>{% trans "Example of initial violation" %}</th>
	      <th>{% trans "Much better within one year" %}</th>
	      <th>{% trans "Somewhat better within one year" %}</th>
	      <th>{% trans "Situation stayed the same overall within one year" %}</th>
	      <th>{% trans "Somewhat worse within one year" %}</th>
	      <th>{% trans "Much worse within one year" %}</th>
	    </tr>
	  </thead>
          <tbody>
	    <tr>
	      <th>{% trans "Detention" %}</th>
	      <td>{% trans "Release without conditions." %}</td>
	      <td>{% trans "Release with conditions (e.g. on bail), OR: Detention continued but conditions were improved." %}</td>
	      <td>{% trans "Detention continued." %}</td>
	      <td>{% trans "Detention continued, charges or threats were added." %}</td>
	      <td>{% trans "Detention continued, X was tortured, disappeared or died in detention." %}</td>
	    </tr>
	    <tr>
	      <th>{% trans "Torture in Detention" %}</th>
	      <td>{% trans "Release and torture claims were credibly investigated and reparation provided." %}</td>
	      <td>{% trans "Detention continued, but torture stopped and claims were investigated." %}</td>
	      <td>{% trans "Detention continued and torture claims were not investigated." %}</td>
	      <td>{% trans "Detention and torture continued." %}</td>
	      <td>{% trans "X was disappeared or died in detention." %}</td>
	    </tr>
	    <tr>
	      <th>{% trans "Put on trial" %}</th>
	      <td>{% trans "Charges were dismissed and trial was discontinued." %}</td>
	      <td>{% trans "Trial continued, but X was acquitted eventually." %}</td>
	      <td>{% trans "Trial went on for that period." %}</td>
	      <td>{% trans "Trial continued, X was sentenced." %}</td>
	      <td>{% trans "Trial continued, X received a relatively heavy sentence." %}</td>
	    </tr>
	    <tr>
	      <th>{% trans "Death threats / Physical attack" %}</th>
	      <td>{% trans "Protection provided, threats were credibly investigated, perpetrator(s) were prosecuted." %}</td>
	      <td>{% trans "Protection provided, threats were credibly investigated, no conclusive outcome." %}</td>
	      <td>{% trans "Threats/attacks against X were not credibly investigated, but discontinued." %}</td>
	      <td>{% trans "Threats/attacks against X were not credibly investigated and continued." %}</td>
	      <td>{% trans "Threats/attacks against X were not credibly investigated and X was injured/killed." %}</td>
	    </tr>
	    <tr>
	      <th>{% trans "Enforced Disappearance / Killing" %}</th>
	      <td>{% trans "Credible investigations were made (and X was found); perpetrator(s) were prosecuted." %}</td>
	      <td>{% trans "Credible investigations were initiated." %}</td>
	      <td>{% trans "No investigations were made into the disappearance / killing of X." %}</td>
	      <td>{% trans "(X remained disappeared), fake investigations were made as a cover-up." %}</td>
	      <td>{% trans "(X remained disappeared), the wrong people were prosecuted in fake investigations and/or other defenders were disappeared/killed." %}</td>
	    </tr>
	    <tr>
	      <th>{% trans "Administrative harassment" %}</th>
	      <td>{% trans "Harassment was discontinued, compensation provided." %}</td>
	      <td>{% trans "Harassment was discontinued, relevant documents issued etc." %}</td>
	      <td>{% trans "Harassment continued on the same level." %}</td>
	      <td>{% trans "Harassment became worse." %}</td>
	      <td>{% trans "[If additional violations occurred]" %}</td>
	    </tr>
	    <tr>
	      <th>{% trans "Defamation campaign" %}</th>
	      <td>{% trans "Defamatory statements were officially condemned and/or credibly investigated." %}</td>
	      <td>{% trans "Defamatory statements were discontinued." %}</td>
	      <td>{% trans "Defamatory statements continued and were not officially condemned or investigated." %}</td>
	      <td>{% trans "Defamatory statements continued to be made and were endorsed by (more) officials." %}</td>
	      <td>{% trans "[If additional violations occurred]" %}</td>
	    </tr>
          </tbody>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="panel panel-primary">
    <div class="panel-body">
      <div class="flag-box gb"></div>You can change the <strong>language of the questionnaire</strong>. Please note that changing the language will reset the content below.<br/>
	<div class="flag-box es"></div>Es posible cambiar el <strong>idioma del cuestionario</strong>. Tenga en cuenta que al cambiar el idioma se eliminará el contenido ya escrito.<br/>
	<div class="flag-box fr"></div>Vous pouvez modifier la <strong>langue du questionnaire</strong>. Notez que la modification de la langue réinitialise le contenu ci-dessous.
      <form action="" method="post">
	{% csrf_token %}
	{% crispy form2 form2.helper %}
      </form>
    </div>
  </div>
</div>

<div class="container-fluid">
    <h2>{% trans "Case Summary" %}</h2>
    <table class="table table-striped table-bordered table-condensed">
      <tbody>
        <tr>
			<th>{% trans "Name of Defender" %}</th>
          <td class="data">{{ form.instance.case.name }}</td>
	</tr>
	<tr>
          <th>{% trans "Country" %}</th>
          <td class="data">{{ form.instance.case.country.name }}</td>
	</tr>
	<tr>
          <th>{% trans "Affiliation" %}</th>
          <td class="data">{{ form.instance.case.affiliation }}</td>
	</tr>
	<tr>
          <th>{% trans "Incidents reported to UN" %}</th>
          <td class="data">
	    {% for i in form.instance.case.violations %}
	    {{ i|display_violation }}<br>
	    {% endfor %}
	    {% for i in form.instance.case.violations2 %}
	    {{ i|display_violation }}<br>
	    {% endfor %}
	    {% for i in form.instance.case.violations3 %}
	    {{ i|display_violation }}<br>
	    {% endfor %}
	  </td>
	</tr>
	<tr>
	  <th>{% trans "Victim(s)" %}</th>
          <td class="data">
	    {% if form.instance.case.violation_family == 0 %}
	    {% trans "Defender him/herself" %}
	    {% elif form.instance.case.violation_family == 1 %}
	    {% trans "Relatives of the defender" %}
	    {% elif form.instance.case.violation_family == 2 %}
	    {% trans "Defender and his/her relatives" %}
	    {% endif %}
	  </td>
	</tr>
	<tr>
	  <th>{% trans "Date of last reported incident" %}</th>
          <td class="data">
	    {% if form.instance.case.date_incident == None %}
	    {{ form.instance.case.date_incident_unspecific }}
	    {% else %}
	    {{ form.instance.case.date_incident }}
	    {% endif %}
	  </td>
	</tr>
	<tr>
	  <th>{% trans "Date of UN action" %}</th>
          <td class="data">{{ form.instance.case.date_intervention }}</td>
	</tr>
      </tbody>
    </table>
</div>

<div class="container-fluid">
  <h2>{% trans "Follow-Up Questionnaire" %}</h2>
    <form action="" method="post">
      {% csrf_token %}
      {% crispy form form.helper %}
    </form>
</div>
{% endblock %}

