{% extends 'questionnaire/base.html' %}
{% load bootstrap3 humanize %}
{% load get_item }
{% load i18n %}
{% load l10n %}
{% trans alert %}
{% load mathfilters %}

{% block title %}<h1>{% trans "Human Rights Defender Case Follow-up Questionnaire" %}</h1>{% endblock %}

{% block content %}
<div class="container-fluid">
  <div class="panel panel-success">
    <div class="panel-heading">
      <span class="glyphicon glyphicon-ok"></span> {% trans "Success" %}
    </div>
    <div class="panel-body">
      <p>{% trans "Your information has been received correctly." %}</p>
      <p>{% trans "Thank you for providing follow-up information on this case." %}</p>
    </div>
  </div>
</div>
 {% endblock %}
